<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recommend2.css' %">
    <title>정보 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="intro_bg">

            <!-- header -->
            <div class="header">

                <div class="logo">
                    <a href="" class="logoname">DangCoffee</a>
                </div>


                <ul class="nav">
                    <li><a href="#">정보</a></li>
                    <li><a href="#">추천</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>

            </div>
            <!-- // header -->


            <!-- tag -->
            <ul class = "intro_title">
                <div class="searcharea">
                    <p>#tag</p>
                </div>
            </ul>
            <!-- // tag -->


        </div>
