<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recommend2.css' %">
    <title>정보 페이지</title>
</head>

<body>
    <div class="wrap">
        <div class="intro_bg">

            <!-- header -->
            <div class="header">

                <div class="logo">
                    <a href="" class="logoname">DangCoffee</a>
                </div>


                <ul class="nav">
                    <li><a href="#">정보</a></li>
                    <li><a href="#">추천</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>

            </div>
            <!-- // header -->


            <!-- tag -->
            <ul class = "intro_title">
                <div class="searcharea">
                    <p>#tag</p>
                </div>
            </ul>
            <!-- // tag -->


        </div>






  <h2 class="Product"> 선택 음료 </h2>
  <ul class="Product">
    <li class="Product">
      <a href="#"
         role="button"
         aria-haspopup="dialog"
         aria-pressed="false">

        <figure>
          <img src="./images/선택 음료.png"
               alt
               width="323"
               height="323" />
          <figcaption> 선택 음료</figcaption>
        </figure>
      </a>
      <div
           class="Product"
           role="dialog"
           aria-modal="false"
           aria-labelledby="ediya-menu__item1">
        <h3 id="ediya-menu__item1"
            class="ediya-menu__item--name">선택음료<span lang="en">(영어로 선택음료)</span></h3>
        <p>음료 설명</p>
        <div class="ediya-menu__item--multi-column is-2">

          <dl>
            <dt>칼로리</dt>
            <dd>(?kcal)</dd>
            <dt>당류</dt>
            <dd>(?g)</dd>
            <dt>단백질</dt>
            <dd>(?g)</dd>
            <dt>포화지방</dt>
            <dd>(?g)</dd>
            <dt>나트륨</dt>
            <dd>(?mg)</dd>
            <dt>카페인</dt>
            <dd>(?mg)</dd>
          </dl>

    </li>
    ...
  </ul>
</div>
