
{% extends 'base.html' %}
{% load static %}
 <title>정보 페이지</title>

{% block content %}

<form action="info/result" method='GET'>
	음료 검색: <input type='search' name='query'>
	<input type='submit' value='검색'>
</form>

   <main class="menu">

                <section>

                        <input type="checkbox" id="a1" \>
                        <label for="a1">커피/라떼</label>


                        <input type="checkbox" id="b1" \>
                        <label for="b1">티/티 라떼</label>


                        <input type="checkbox" id="c1" \>
                        <label for="c1">에이드/스무디</label>

                    <div class="div">
                        <input type="checkbox" id="d2" \>
                        <label for="d2">프라페</label>


                        <input type="checkbox" id="e3" \>
                        <label for="e3">생과일 주스</label>


                        <input type="checkbox" id="f4" \>
                        <label for="f4">차</label>

                    </div>
                </section>

    </main>


<h1>음료 리스트</h1>
{% for product in products %}
    {{ product.korean_name }}<br/>
    {{ product.category }}<br/>
    {{ product.english_name }}<br/>
    <br/>



{% endfor %}

{% endblock %}