<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
    <div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
    <div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
</body>
</html>


{% extends 'base.html' %}
{% block content %}
  <body>
    <div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
    <div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
    <div style="height: 10rem; background-color: #38df81; border-radius: 1rem; margin: 2rem"></div>
  </body>
{% endblock %}
]